{{ partial "head" . }}
{{ partial "header" . }}

<div class="content">

<h1>{{ .Site.Title }}</h1>

<p>
    Welcome to my website!
    My name is Hannes.
    Here I'll post content relating to software, programming, Linux, and digital minimalism and independence.
</p>


<h2>Posts</h2>
<p class="summary">
    Smaller, blog-like entries.
    <ul>
        {{ range first 10 (where .Site.RegularPages "Section" "posts") }}
            <li><span class="date">{{ .Date.Format "'06, Jan 2" }}</span> – <a href={{ .Permalink }}>{{ .Title }}</a></li>
        {{ end }}
        <br>
        <li><a href="/posts">More posts</a></li>
    </ul>
</p>


<h2>Articles</h2>
<p class="summary">
    Longer-form, more formal guides and tutorials.
    <ul>
        {{ range first 10 (where .Site.RegularPages "Section" "articles") }}
            <li><a href={{ .Permalink }}>{{ .Title }}</a> – {{ .Description }}</li>
        {{ end }}
        <br>
        <li><a href="/articles">More articles</a></li>
    </ul>
</p>

<!---
<h2>Solution Manuals</h2>
<p class="summary">
    Solution manuals I've written to various textbooks.
</p>
--->


<h2>Other Cool Websites</h2>
<p class="summary">
    A collection of links to other websites; mostly blogs of people I follow, but I do follow more people than are on this list.
</p>
<ul>
    <li><a href="https://lukesmith.xyz/">Luke Smith</a></li>
    <li><a href="https://vkc.sh/">Veronica Explains</a></li>
</ul>

<h2>Comments</h2>
<div id="comment-section">
</div>
<script>
    fetchComments();
</script>


</div>

{{ partial "footer.html" . }}
